MONGO_URI=mongodb://root:example@localhost:27017/parcel2?authSource=admin
STARDOG_ENDPOINT=http://localhost:5820
STARDOG_USERNAME=username
STARDOG_PASSWORD=password
REDIS_URL=127.0.0.1:6379
JWT_SECRET=supersecretkey
AUTH_SECRET="Bz/0EFYZz0RKkvf6w/ZwfHeniHqLmy563h4g5wq3el0=" # Added by `npx auth`. Read more: https://cli.authjs.dev
