# Backend Port
PORT=3105

# MongoDB connection string
MONGO_URI=mongodb://root:example@localhost:27017/parcel2?authSource=admin

# Stardog connection details
STARDOG_ENDPOINT=http://localhost:5820
STARDOG_USERNAME=username
STARDOG_PASSWORD=password
STARDOG_DB_NAME=parcel2

# Redis connection string
REDIS_URL=127.0.0.1:6379

# JWT secret for session management
JWT_SECRET=supersecretkey
SESSION_SECRET=supersecretkey2

# Mail server
MAIL_SENDER="no-reply@example.com"
MAIL_SERVER="mail.example.com"
MAIL_PORT="465"
MAIL_USERNAME="no-reply@example.com"
MAIL_PASSWORD="password"

# Google OAuth credentials
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Here API key
HERE_API_KEY=your-here-api-key

# Frontend configuration
FRONTEND_URL=http://localhost:3106